.veEditor {
  position: relative;
  flex-grow: 1;
}

.taProductViewer {
  display: flex;
}

.RowViewSide,
.CircularViewSide {
  width: 100%;
}
.ve-clickable {
  cursor: pointer;
  opacity: 0.7;
}
.ve-clickable:hover {
  opacity: 1;
}
.ve-clickable-black {
  cursor: pointer;
  color: rgb(78, 78, 78);
}
.ve-clickable-black:hover {
  color: black;
}

.veRightClickTabMenu {
  opacity: 0.4;
}
.veRightClickTabMenu:hover {
  opacity: 1;
}

.reflex-layout > .reflex-element {
  overflow: hidden !important;
}
.reflex-layout.reflex-container {
  height: inherit !important;
}

.preview-mode-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: fit-content;
  height: fit-content;

  /* border: 1px solid black; */
}
.preview-mode-container > div {
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  padding: 2px;
}

.preview-mode-view-fullscreen {
  top: 1%;
  left: 1%;
  /* transform: translateX(-50%) translateY(-50%); */
  position: absolute;
  display: flex;

  /* opacity: .9; */
}

/* .preview-mode-container>div:hover .preview-mode-view-fullscreen {
 opacity: 1;
} */

.preview-mode-view-fullscreen:hover {
  background: #0e5a8a;
}

.bp3-menu-item span.bp3-tag {
  transform: scale(0.8);
}

@import url(darkmode.css);

.veSearchLayer {
  cursor: pointer;

  stroke: gold !important;
  fill: gold !important;
  background: gold !important;
  border-right-color: yellow !important;
}
.veSearchLayerActive {
  stroke: red !important;
  fill: red !important;
  background: red !important;
}
.notCaret.veSearchLayerBottomStrand:after {
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  bottom: -15px;
  opacity: 1 !important;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid gold;
}
.veSearchLayerActive.veSearchLayerBottomStrand:after {
  border-right-color: red !important;
}
.notCaret.veSearchLayerBottomStrand:before {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  bottom: -15px;
  opacity: 1 !important;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid gold;
}
.veSearchLayerActive.veSearchLayerBottomStrand:before {
  border-right-color: red !important;
}

.veSearchLayer.veCaret {
  cursor: pointer;
}

.veRowView,
.veCircularView {
  outline: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.veVectorInteractionWrapper {
  background-color: white;
  margin: 10px;
  padding: 30px 5px;
  border-radius: 10px;
  box-shadow: 1px 2px 2.8px 0 rgba(150, 150, 150, 0.322),
  1px 2px 6.7px 0 rgba(150, 150, 150, 0.048), 
  1px 2px 12.5px 0 rgba(150, 150, 150, 0.06), 
  0 22.3px 17.9px 0 rgba(150, 150, 150, 0.072)
}

.veVectorInteractionWrapper .veSelectionLayer:not(.veCaret) {
  fill: gray;
}
.veVectorInteractionWrapper:focus .veSelectionLayer:not(.veCaret) {
  fill: #0099ff;
  background: #0099ff;
}
.veVectorInteractionWrapper:focus .veCaret:not(.selectionLayerCaret) {
  animation: blinker 1s step-start infinite;
}
/* this is the little handles above the selection carets */
.veEditor :not(.veSearchLayer).selectionLayerCaret::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  position: absolute;
  z-index: 1000;
  top: -7px;
  left: -4px;
}
.vePolygonCaretHandle,
.veEditor .veSearchLayer .vePolygonCaretHandle {
  display: none;
}
.veEditor .vePolygonCaretHandle {
  display: inherit;
}
.bp3-dark .veTabActive {
  color: white !important;
}
/* .ve-propertiesPanel .bp3-popover-wrapper {
  width: 100% !important;
  max-height: 200px !important;
  overflow-y: auto;
} */
textarea{
  border: none;
  margin-top: 20px;
  background-color: #f5f6fc;
  overflow-x: hidden !important;
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
}
.bp3-dark textarea{
  border: none;
  overflow-x: hidden !important;
  background-color: #101026;
  max-width: 100%;
  min-width: 100%;
}

.bp3-html-select select, .bp3-select select {
    display: inline-flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    border: none !important;
    border-radius: 3px !important;
    cursor: pointer !important;
    font-size: 14px !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding: 5px 10px !important;
    text-align: left !important;
    vertical-align: middle !important;
    background-color: white !important;
    background-image: none !important;
    background-image: none !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
    color: #000000 !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    border: none !important;
    border-radius: 7px !important;
    height: 30px !important;
    padding: 0 25px 0 10px !important;
    width: 100% !important;
}
.bp3-dark .bp3-html-select select, .bp3-dark .bp3-select select{
  background-color: #1a1a37 !important;
  color: #4f4f8a !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  border: none !important;
  border-radius: 7px !important;
  height: 30px !important;
  padding: 0 25px 0 10px !important;
  width: 100% !important;
}
.nameDescription{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: 7px;
  border: none !important;
}
.bp3-dark input {
  background: #1a1a37 !important;
  color: #4f4f8a !important;
}
.bp3-dark div{
  color: #4f4f8a !important;
}
.veLabelText .veCircularViewLabelText, .black {
  fill : gray !important
}
.bp3-dark .ReactTable .rt-tbody .rt-td, .bp3-dark .tg-react-table-name {
  color: #4f4f8a !important;
}
.bp3-dark label, .bp3-dark span {
  color: #4f4f8a !important;
}