.ve-propertiesPanel .bp3-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ve-propertiesPanel .bp3-dark {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #101026;
}

.veVectorInteractionWrapper .bp3-dark {
  background-color: #101026;
  
}

.ve-propertiesPanel .bp3-tab-list::-webkit-scrollbar {
  display: none;
}
.ve-draggable-tabs::-webkit-scrollbar {
  display: none;
}
.ve-draggable-tabs {
  /* margin-left: "50px" !important; */
  height: 30px !important;
  border-top: none !important;
  margin: 40px auto !important;
  padding: 0 !important;
  border-radius: 25px;
  border-bottom: none !important;
  display: flex !important;
  text-align: center !important;
  background-color: white;
  width: 260px;
  box-shadow: 1px 2px 2.8px 0 rgba(150, 150, 150, 0.322),
  1px 2px 6.7px 0 rgba(150, 150, 150, 0.048), 
  1px 2px 12.5px 0 rgba(150, 150, 150, 0.06), 
  0 22.3px 17.9px 0 rgba(150, 150, 150, 0.072)
}

.bp3-dark .ve-draggable-tabs{
  background-color: #070714 !important;
}

.ve-propertiesPanel .data-table-header {
  margin-top: 3px;
  margin-right: 3px;
}
.ve-propertiesPanel .bp3-tab-list {
  overflow: scroll;
}
.ve-propertiesPanel .bp3-tabs .bp3-tab-panel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: visible;
}

.ve-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  min-height: 40px;
  /* padding-top: 15px; */
}
/* .ve-column-right {
  display: flex;
  
  align-items: center;
} */

/* .data-table-container > * {
  flex-shrink: 0;
} */

.vePropertiesFooter {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.ve-propertiesPanel .bp3-popover-wrapper {
  width: fit-content;

}

.ve-propertiesPanel .data-table-container {
  min-height: 250px;
}
.ve-propertiesPanel .data-table-footer {
  margin-top: 5px;
  margin-bottom: 5px;
}
.genbankFileView .bp3-html-select {
  width: fit-content;
  margin-bottom: 5px;
}

.ve-enzymeSubrow .data-table-container {
  height: fit-content;
  min-height: 0px;
}

.ve-enzymeSubrow .ReactTable .rt-tr-group:last-child {
  margin-bottom: 0px;
}
.ReactTable .rt-thead {
  color : #ffffff !important
}

.bp3-minimal.bp3-intent-primary.bp3-active {
  background-color: #f1efff !important;
  color: red !important;
}

.bp3-button.bp3-minimal.bp3-intent-primary.bp3-active {
  color : #7100ff !important
}

.bp3-button.bp3-minimal.bp3-intent-primary {
  color: #c6c7cf;
}

.bp3-dark.bp3-button.bp3-minimal.bp3-intent-primary {
  background-color: #5600ff !important;
  color: white !important;
}

.bp3-minimal.bp3-intent-primary.bp3-disabled {
  color: #c6c7cf !important;
}

.bp3-dark.bp3-minimal.bp3-intent-primary.bp3-disabled {
  color: white !important;
}

.bp3-dark .bp3-button.bp3-minimal.bp3-intent-primary:active, .bp3-dark .bp3-button.bp3-minimal.bp3-intent-primary.bp3-active {
  background-color: #5600ff !important;
  color: white !important;
}

.bp3-dark .bp3-button.bp3-minimal.bp3-intent-primary:disabled, .bp3-dark .bp3-button.bp3-minimal.bp3-intent-primary.bp3-disabled{
  color: #4f4f8a !important ;
}
.bp3-dark .bp3-button.bp3-minimal.bp3-intent-primary {
  color: #4f4f8a !important ;
}

.bp3-tab[aria-selected="true"], .bp3-tab:not([aria-disabled="true"]):hover {
  color : #7100ff !important
}